body {
    background-color: ivory;
}

.nav {
    background-color: #E43123;
    margin-bottom: 20px;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.nav a {
    color: #F1AE3E;
}

.row {
    color: darkgreen;
}

.col-md-8 {
    color: purple
}

.text-center {
    width: 100%;
    margin-top: 60px;
}

#centerline {
    width: 90px;
}

.nav-link.disabled {
    color: blueviolet;
}
